[Unit]
Description=MLflow tracking server
After=network.target 

[Service]
User=estudiante
Restart=on-failure
RestartSec=30
WorkingDirectory=/mlopsG72024/proyecto2
Environment=MLFLOW_S3_ENDPOINT_URL=http://10.43.101.156:8081
Environment=AWS_ACCESS_KEY_ID=admin
Environment=AWS_SECRET_ACCESS_KEY=supersecret
ExecStart=/bin/bash -c 'PATH=/mlopsG72024/.local/bin/:$PATH exec python -m mlflow server \
--backend-store-uri mysql+pymysql://root:airflow@mysql:8082/mlflow \
--default-artifact-root s3://mlflows3/artifacts \
--host 0.0.0.0 \
--serve-artifacts' 

[Install]
WantedBy=multi-user.target